<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us</title>
  </head>
  <body>
    <h1>Contact Us</h1>
    <ul>
      <% menu.forEach(item => { %>
      <li><a href="<%= item.url %>"><%= item.name %></a></li>
      <% }) %>
    </ul>
    <p>Hubungi kami melalui email: contoh@email.com</p>
  </body>
</html>
