<div class="row align-items-center">
  <div class="col-md-7">
    <h1>Selamat Datang di Universitas MDP</h1>
    <p class="lead">Ini adalah website latihan yang dibuat menggunakan Node.js, Express, dan EJS. Website ini menampilkan informasi dasar mengenai kampus, termasuk daftar program studi, halaman tentang kami, dan kontak.</p>
  </div>
  <div class="col-md-5">
    <img src="/img/images.jpg" class="img-fluid rounded" alt="Gambar Kampus" />
  </div>
</div>
