<!DOCTYPE html>
<html>
  <head>
    <title>Halaman Program Studi</title>
  </head>
  <body>
    <h1>Home</h1>
    <ul>
      <% menu.forEach(item => { %>
      <li><a href="<%= item.url %>"><%= item.name %></a></li>
      <% }) %>
    </ul>
  </body>
</html>
