<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <ul>
      <% menu.forEach(m => { %>
      <li><a href="<%= m.url %>"><%= m.name %></a></li>
      <% }) %>
    </ul>
    <hr />

    <h2>Home</h2>
    <p>Selamat datang di website kami!</p>
  </body>
</html>
