<h1>Program Studi</h1>
<table border="1" cellspacing="0" cellpadding="5">
  <tr>
    <th>Prodi</th>
    <th>Singkatan</th>
    <th>Fakultas</th>
  </tr>
  <% prodi.forEach((p) => { %>
  <tr>
    <td><%= p.nama %></td>
    <td><%= p.singkatan %></td>
    <td><%= p.fakultas %></td>
  </tr>
  <% }) %>
</table>
