<h2>About Us</h2>
<hr />
<div class="row">
  <div class="col-md-8">
    <p>Di sini Anda bisa menuliskan deskripsi tentang Universitas Multi Data Palembang. Sejarah singkat, visi, misi, atau informasi umum lainnya yang relevan dapat ditempatkan di kolom ini.</p>
    <p>Layout ini dibuat simpel untuk memenuhi kebutuhan dasar halaman "About Us".</p>
  </div>
  <div class="col-md-4">
    <img src="/img/rapat.jpeg" class="img-fluid rounded" alt="Tentang Kami" />
  </div>
</div>
